@page "/AddEmployee"
@using BlazorServer.Data
@inject IEmployeeService employeeService
@inject NavigationManager NavigationManager

<h3>Add New Employee</h3>
<hr />

<EditForm Model="@empObj" OnValidSubmit="@CreateEmployee">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">First Name</label>
                <input form="Name" class="form-control" @bind="@empObj.FirstName" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Last Name</label>
                <input form="Name" class="form-control" @bind="@empObj.LastName" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label"></label>
                <select @bind="@empObj.Gender" class="form-control">
                    <option value="">-Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="DateHired" class="control-label">Date Hired</label>
                <input type="date" form="DateHired" class="form-control" @bind="@empObj.DateHired" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Save" />
                <input type="button" class="btn-outline-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</EditForm>

@code 
{ 
    Employee empObj = new Employee();
    protected async void CreateEmployee()
    {
        await employeeService.InsertEmployeeAsync(empObj);
        NavigationManager.NavigateTo("Employees");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Employees");
    }
    
}
