@page "/AddTransaction"
@inject ITimekeepingService transactionService
@inject IEmployeeService empService
@inject ITransactionTypeService typeService
@inject NavigationManager NavigationManager

<h3>Create New Timekeeping Transaction</h3>
<hr />

<EditForm Model="@transObj" OnValidSubmit="@CreateTransaction">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="TransactionDateTime" class="control-label">Transaction Date Time</label>
                <input type="date" form="TransactionDateTime" class="form-control" @bind="@transObj.TransactionDateTime" />
            </div>
            <div class="form-group">
                <label for="TransactionDateTime" class="control-label">Current Date Time</label>
                <input type="time" form="TransactionDateTime" class="form-control" @bind="@transObj.TransactionDateTime" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label"></label>
                <select class="form-control" @bind="@transObj.EmployeeId">
                    <option value="">-- Select Employee --</option>
                    @if ((empObj != null))
                        @foreach (var emp in empObj)
                        {
                            <option value="@emp.EmployeeId">@emp.FirstName, @emp.LastName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label"></label>
                <select class="form-control" @bind="@transObj.TransactionTypeId">
                    <option value="">-- Select Transaction --</option>
                    @if ((typeObj != null))
                        @foreach (var typeO in typeObj)
                        {
                            <option value="@typeO.TransactionTypeId">@typeO.TransactionTypeName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Submit" />
                <input type="button" class="btn btn-outline-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</EditForm>

@code {

    TimeKeepingTransaction transObj = new TimeKeepingTransaction();

    List<Employee> empObj;
    List<TransactionType> typeObj;

    protected override async Task OnInitializedAsync()
    {
        empObj = await Task.Run(() => empService.GetAllEmployeesAsync());
        typeObj = await Task.Run(() => typeService.GetAllTransactionTypesAsync());
        transObj.TransactionDateTime = DateTime.Now;
    }

    protected async void CreateTransaction()
    {
        await transactionService.InsertTransactionAsync(transObj);
        NavigationManager.NavigateTo("TimekeepingTransactions");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("TimekeepingTransactions");
    }
}
