@page "/Employees"
@using BlazorServer.Data
@inject IEmployeeService empService

<h1>List of Employees</h1>

<NavLink class="nav-link" href="AddEmployee">
    <span class="oi oi-plus" aria-hidden="true">Add New Employee</span>
</NavLink>

@if (empObj is null)
{
    <p><em>Loading.....</em></p> }
else
{
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Laster Name</th>
                <th>Gender</th>
                <th>Date Hired</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in empObj)
            {
                <tr>
                    <td>@emp.EmployeeId</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Gender</td>
                    <td>@emp.DateHired</td>
                    <td>
                        <a class="nav-link" href="EditEmployee/@emp.EmployeeId">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="Delete/@emp.EmployeeId">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    List<Employee> empObj;
    protected override async Task OnInitializedAsync()
    {
        empObj = await Task.Run(() => empService.GetAllEmployeesAsync());
    }
}
