@page  "/TimekeepingTransactions"
@using BlazorServer.Data
@inject ITimekeepingService transactionService
@inject NavigationManager NavigationManager

<h3>List of Time Keeping Transactions</h3>
<hr />
<div>
    <a href="AddTransaction" class="btn btn-success" role="button">+ Add New Transaction</a>
</div>
<br />

@if (objTransaction is null)
{
    <p><em>Loading... !</em></p>}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Transaction Type</th>
                <th>Transaction DateTime</th>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trans in objTransaction)
            {
            <tr>
                <td>@trans.TimeKeepingTransactionTypeId</td>
                <td>@trans.TransactionType.TransactionTypeName</td>
                <td>@trans.TransactionDateTime</td>
                <td>@trans.EmployeeId</td>
                <td>@trans.Employee.LastName, @trans.Employee.FirstName</td>
                <td>
                    <a href="EditTransaction/@trans.TimeKeepingTransactionTypeId" class="btn btn-outline-primary" role="button">
                        Edit
                    </a>
                    <a href="DeleteTransaction/@trans.TimeKeepingTransactionTypeId" class="btn btn-outline-danger" role="button">
                        Delete
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    List<TimeKeepingTransaction> objTransaction;
    protected override async Task OnInitializedAsync()
    {
        objTransaction = await Task.Run(() => transactionService.GetAllTransactions());
    }
}
